@import url(administracaoLogin.css);
@import url(administracaoSatisfacao.css);
@import url(administracaoMenu.css);

:root {
    --cor-primaria: #27374D;
    --cor-secundaria: #526D82;
    --cor-acento: #9DB2BF;
    --cor-fundo: #DDE6ED;
    --fonte-primaria: 'Poppins';
  }

  body {
    background-image: url('../img/backgrounddegrade.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--cor-primaria);
    margin: 50% auto;
    font-family: var(--fonte-primaria);
  }

  canvas {
    max-width: 80%;
    height: auto !important;
  }

